body {
    display: grid;
    grid-template-columns: 15rem 1fr;
    min-height: 100vh;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.empty--darker {
    background-color: $gray-100;
}

// Main content
.content {
    padding: 1.5rem;
    background-color: $color-background;

    h1 {
        margin: 0;
    }
}

// Add solid line between sections
section > h2 {
    padding-top: 0.5rem;
    margin-top: 2rem;
    border-top: solid 1px $gray-400;
}