<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="../public/styles/main.css"
        />
        <title>Home | Rezervační systém</title>
    </head>
    <body>
        <!-- Aside navigation -->
        <aside class="menu">
            <!-- User info -->
            <div class="menu-user">
                <img
                    src="https://api.dicebear.com/7.x/personas/svg?seed=Sammy&backgroundType=solid,gradientLinear&body=checkered&backgroundColor=b6e3f4,c0aede,d1d4f9,ffd5dc,ffdfbf"
                    alt="User avatar"
                    class="menu-user__avatar"
                />
                <span class="menu-user__name">Jan Novák</span>
                <span class="menu-user__role">Administrátor</span>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="#"><i class="fa-solid fa-graduation-cap"></i> Místnosti</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-pen-to-square"></i> Moje žádosti</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-user-group"></i> Skupiny</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-ticket"></i> Rezervace</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-user"></i> Uživatelé</a>
                    </li>
                </ul>
            </nav>

            <a
                href="#"
                class="menu__logout"
                >Odhlásit se</a
            >
        </aside>

        <!-- Main content -->
        <main class="content">
            <h1>Rezervační systém</h1>
            <section>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio neque est voluptatum
                    repellat animi dicta aliquam ipsa culpa commodi.
                </p>
            </section>
        </main>
    </body>
</html>
