{% extends 'base.html.twig' %}

{% block title %}
    Novinky
{% endblock %}

{% block content %}
    <h1>Rezervační systém</h1>
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio neque est voluptatum
            repellat animi dicta aliquam ipsa culpa commodi.
        </p>
    </section>
    <section>
        <h2>Novinky</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolorum velit, beatae officiis cumque
            quae eaque doloribus exercitationem harum mollitia est voluptatum? Debitis eligendi quod nisi hic
            eius, quos maxime.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus nihil, ab temporibus quod
            dolorem culpa quisquam perspiciatis doloremque harum dicta. Fugiat inventore placeat aut?
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat architecto dignissimos provident
            dolorem, ducimus, odio ea itaque doloremque, hic ipsum unde adipisci. Atque vel quos sequi, officiis
            sapiente ipsam quae? Qui, esse atque!
        </p>
    </section>
{% endblock %}
