<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="../public/styles/main.css"
        />
        <title>Místnosti | Rezervační systém</title>
    </head>
    <body>
        <!-- Aside navigation -->
        <aside class="menu">
            <!-- User info -->
            <div class="menu-user">
                <img
                    src="https://api.dicebear.com/7.x/personas/svg?seed=Sammy&backgroundType=solid,gradientLinear&body=checkered&backgroundColor=b6e3f4,c0aede,d1d4f9,ffd5dc,ffdfbf"
                    alt="User avatar"
                    class="menu-user__avatar"
                />
                <span class="menu-user__name">Jan Novák</span>
                <span class="menu-user__role">Administrátor</span>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="#"><i class="fa-solid fa-home"></i> Novinky</a>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa-solid fa-graduation-cap"></i> Místnosti</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-pen-to-square"></i> Moje žádosti</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-user-group"></i> Skupiny</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-user"></i> Uživatelé</a>
                    </li>
                </ul>
            </nav>

            <a
                href="#"
                class="menu__logout"
                >Odhlásit se</a
            >
        </aside>

        <!-- Main content -->
        <main class="content">
            <div class="page-header">
                <h1>Místnosti</h1>
                <div class="page-header__actions">
                    <a
                        href="#"
                        class="button button--primary"
                        >Vytvořit</a
                    >
                    <!-- <a
                        href="#"
                        class="button button--black"
                        >Todo</a
                    > -->
                </div>
            </div>
            <section>
                <h2>Moje místnosti</h2>
                <span class="infoheading">Místnosti, které si můžete rezervovat</span>
                <div class="rooms">
                    <article class="rooms__card">
                        <h3>Učebna 1</h3>
                        <span class="subtitle">Spravuje <a href="#">Jan Novák</a>, <a href="#">Skupina KTI</a></span>
                        <span class="subtitle">Obsazeno 10/30</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum voluptates.
                            Quisquam, voluptatum voluptates.
                        </p>
                        <div class="rooms__card__actions">
                            <a
                                href="#"
                                class="button button--primary"
                                >Rezervovat</a
                            >
                        </div>
                    </article>
                    <article class="rooms__card">
                        <h3>Učebna 1</h3>
                        <span>Skupina KTI</span>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <div class="rooms__card__actions">
                            <a
                                href="#"
                                class="button button--primary"
                                >Rezervovat</a
                            >
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h2>Spravované místnosti</h2>
                <span class="infoheading">Místnosti, ke kterým máte právo správce (přímé nebo ze skupiny)</span>
                <div class="rooms">
                    <article class="rooms__card">
                        <h3>Učebna 1</h3>
                        <span>Skupina KTI</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum voluptates.
                            Quisquam, voluptatum voluptates.
                        </p>
                        <div class="rooms__card__actions">
                            <a
                                href="#"
                                class="button button--primary"
                                >Rezervovat</a
                            >
                            <a
                                href="#"
                                class="button button--black"
                                >Upravit</a
                            >
                        </div>
                    </article>
                    <article class="rooms__card">
                        <h3>Učebna 1</h3>
                        <span>Skupina KTI</span>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <div class="rooms__card__actions">
                            <a
                                href="#"
                                class="button button--primary"
                                >Rezervovat</a
                            >
                            <a
                                href="#"
                                class="button button--black"
                                >Upravit</a
                            >
                        </div>
                    </article>
                    <article class="rooms__card">
                        <h3>Učebna 1</h3>
                        <span>Skupina KTI</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum voluptates.
                            Quisquam, voluptatum voluptates.
                        </p>
                        <div class="rooms__card__actions">
                            <a
                                href="#"
                                class="button button--primary"
                                >Rezervovat</a
                            >
                            <a
                                href="#"
                                class="button button--black"
                                >Upravit</a
                            >
                        </div>
                    </article>
                    <article class="rooms__card">
                        <h3>Učebna 1</h3>
                        <span>Skupina KTI</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum voluptates.
                            Quisquam, voluptatum voluptates.
                        </p>
                        <div class="rooms__card__actions">
                            <a
                                href="#"
                                class="button button--primary"
                                >Rezervovat</a
                            >
                            <a
                                href="#"
                                class="button button--black"
                                >Upravit</a
                            >
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </body>
</html>
