{% extends 'base.html.twig' %}

{% block title %}
    Upravit uživatele
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Upravit uživatele</h1>
    </div>
    {{ form(form) }}
{% endblock %}
