.button {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: $size-base;
    font-weight: bold;
    padding: 0.5rem 1rem;
    // margin: 0.5rem 0;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.button--primary {
    background-color: $primary-500;
    border-color: $primary-500;
    color: $white;
}

.button--primary:hover {
    background-color: $primary-700;
    border-color: $primary-700;
    color: $white;
}

.button--black {
    background-color: $white;
    border: 1px solid $black;
    color: $black;
}

.button--black:hover {
    background-color: $black;
    border-color: $black;
    color: $white;
}