{% extends 'base.html.twig' %}

{% block title %}
    Odstranit žádost
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Odstranit žádost</h1>
    </div>
    {{ form(form) }}
{% endblock %}
